MYSQL_DATABASE=voluntariado_tccem
MYSQL_USER=voluntariado_app
MYSQL_PASSWORD=troque_por_uma_senha_forte
MYSQL_ROOT_PASSWORD=troque_por_uma_senha_root_forte

FRONTEND_PUBLIC_URL=https://sistema.seudominio.com.br
BACKEND_PUBLIC_URL=https://api.sistema.seudominio.com.br

SEED_DATABASE=false
SWAGGER_ENABLED=false
